<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <h3>Template</h3>

    <form #userForm="ngForm" (ngSubmit)="OnFormSubmit(userForm)">
        <table>
            <tr>
                <td>Name</td>
                <td><input name="uname" [ngModel]="user.username" required #uname="ngModel">
                    <div *ngIf="uname.invalid">
                        Name Required
                    </div>
                </td>

            </tr>

            <tr>
                <td>Gender</td>
                <td><input type="radio" value="male" name="gender" [ngModel]="user.gender" required #gender="ngModel">Male
                    <input type="radio" value="female" name="gender" [ngModel]="user.gender" required #gender="ngModel">Female
                    <div *ngIf="gender.invalid">
                        Gender Required
                    </div>
                </td>

            </tr>

            <tr>
                <td>Are u Mrried</td>
                <td><input type="checkbox" name="married" [ngModel]="user.isMarried" required #married="ngModel">
                    <div *ngIf="married.invalid">
                        Name Required
                    </div>
                </td>

            </tr>

            <tr>
                <td>Are u Accepted</td>
                <td><input type="checkbox" name="accepted" [ngModel]="user.isAccepted" required #accepted="ngModel">
                    <div *ngIf="accepted.invalid">
                        Name Required
                    </div>
                </td>

            </tr>

            <tr>
                <td colspan="2">
                    <button>Submit</button>
                    <button type="button" (click)="setDefaultValue()">Set Default</button>
                    <button type="button" (click)="resetForm(userForm)">Reset</button>
                </td>


            </tr>

        </table>

    </form>